[defaults]
# disable the ugly warning at startup
interpreter_python=auto_silent

# (pathlist) Comma-separated list of Ansible inventory sources
inventory=./hosts.yml

# strategy=free

collections_path = ./collections/ansible_collections/
